
.idea/workspace.xml
.idea/dataSources/
.idea/httpRequests/
src/ms-authentication/src/main/resources/static/
src/ms-authentication/src/main/resources/templates/
src/ms-authentication/src/main/webapp/
src/ms-location/src/main/resources/static/
src/ms-location/src/main/resources/templates/
src/ms-location/src/main/webapp/
src/ms-order/src/main/resources/static/
src/ms-order/src/main/resources/templates/
src/ms-order/src/main/webapp/
src/ms-product/src/main/resources/static/
src/ms-product/src/main/resources/templates/
src/ms-product/src/main/webapp/
src/ms-stock/src/main/resources/static/
src/ms-stock/src/main/resources/templates/
src/ms-stock/src/main/webapp/
src/ms-store/docker/
src/ms-store/src/main/resources/static/
src/ms-store/src/main/resources/templates/
src/ms-store/src/main/webapp/
src/ms-user/src/main/resources/static/
src/ms-user/src/main/resources/templates/
src/ms-user/src/main/webapp/
src/ms-userentity/src/main/resources/static/
src/ms-userentity/src/main/resources/templates/
src/ms-userentity/src/main/webapp/
